---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/images.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<title>Los Blastroquitos</title>
	</head>
	<body>
		<slot />
	</body>
</html>
